@import "../sass/mixin.scss";

* {
  box-sizing: border-box;
}

html {
  color: #111111;
  font-size: 15px;
  font-family: "Manrope", sans-serif;
}

body,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

input,
button {
  font-size: 1rem;
  font-family: "Manrope", sans-serif;
  border: none;
  background: none;
  background-repeat: no-repeat;
}

.text-bold {
  font-weight: 800;
}

.text-regular {
  font-weight: 500;
}

.page {
  margin: auto;
}

:root {
  --text-color: #253c57;
  --dark-text-color: #18293d;
  --yellow-box-color: rgba(238, 255, 66, 1);
  --light-blue-color: rgba(190, 225, 230, 1);
  --light-grey-color: rgb(248, 246, 246);
}
