@import "../../../sass/mixin.scss";

.header {
  width: 100%;
  height: auto;

  &__yellow-block {
    width: 100%;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow-box-color);
    color: var(--text-color);
    font-size: 15px;
  }

  &__logo-block {
    width: 100%;
    height: 61px;
    display: flex;

    &__logo-content {
      width: 37%;
      padding-left: 30px;

      @include mobile {
        width: 100%;
      }
    }

    &__link-content {
      width: 63%;
      justify-content: flex-end;

      @include mobile {
        display: none;
      }
    }
  }
}


.logo-content,
.link-content {
  height: 100%;
  display: flex;
  align-items: center;
}

.link-content {
  @include mobile {
    display: none;
  }
}

.logo-content {
  &__image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;

    @include mobile {
      width: 40px;
      height: 40px;
    }
  }

  &__text {
    margin-left: 10px;
    margin-right: 20px;
    font-size: 20px;
    cursor: pointer;

    @include mobile {
      margin-left: 20px;
    }
  }
}

.link-content__links {
  @extend %header-link;
}

.link-content__log-in {
  display: flex;
  align-items: center;

  &__image {
    margin-right: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;
  }
}

.header__call-us {
  position: fixed;
  width: 60px;
  height: 60px;
  right: 20px;
  bottom: 20px;
  z-index: 2;
  border-radius: 50%;
  background-color: rgb(37, 60, 87);
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-image: url(../../../images/1499345613-notification-circle_85331.png);

  background-repeat: no-repeat;
  background-position: center;
}