@import "../../../sass/mixin.scss";

.meet-emily {
    width: 100%;
    height: 100%;

    &__header {
        @extend %grey-header;

        @include mobile {
            font-size: 34px;
            height: 114px;

        }
    }

    &__mobile-emily-image {
        display: none;

        @include mobile {
            display: block;
            width: 100%;
            height: 200px;
            background-image: url(../../../images/emily_sitting-mobile.webp);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

        }
    }

    &__content {
        width: 100%;
        height: 1290px;

        @include mobile {
            height: 788px;
        }

        &_wrapper {
            position: relative;
            width: 1080px;
            height: 100%;
            margin: auto;

            @include mobile {
                width: 100%;
            }
        }
    }

    &__blue-box {
        position: absolute;
        z-index: 2;
        margin-top: 120px;
        width: 665px;
        height: 504px;
        background-color: var(--light-blue-color);

        @include mobile {
            position: relative;
            width: 100%;
            margin-top: 0;
            height: 433px;
            z-index: 0;

        }

        &_wrapper {
            width: 450px;
            margin: auto;
            padding-top: 96px;

            @include mobile {
                width: 295px;
                padding-top: 34px;
            }
        }

        &_description {
            margin-bottom: 23px;

            &_block {
                display: block;
                @extend %middle-font;

                @include mobile {
                    font-size: 21px;

                }
            }
        }

        &_text {
            @extend %text-font;

            @include mobile {
                font-size: 15px;
            }
        }

        &_button {
            @extend %blue-box-yellow-button;

            @include mobile {
                width: 144px;
                height: 46px;
                left: 34px;
                bottom: 30px;
                font-size: 17px;
            }
        }
    }

    &__emily-sitting {
        position: absolute;
        width: 692px;
        height: 480px;
        right: 0;
        top: 372px;
        z-index: 1;
        background-image: url(../../../images/emily_sitting.webp);
        @extend %background-position-center;

        @include mobile {
            display: none;
        }
    }

    &__my-vision {
        position: absolute;
        width: 670px;
        height: 389px;
        left: 100px;
        top: 770px;
        z-index: 0;
        background-color: var(--yellow-box-color);

        @include mobile {
            position: relative;
            width: 100%;
            margin-top: 0;
            height: 355px;
            left: 0;
            top: 0;
        }


        &_wrapper {
            width: 450px;
            height: 100%;
            margin: auto;

            @include mobile {
                width: 295px;
                padding-top: 42px;
            }
        }

        &_header {
            margin: 75px 0 22px 0;
            @extend %middle-font;

            @include mobile {
                font-size: 21px;
                margin: 0px 0px 27px 0;
            }
        }

        &_text {
            @extend %text-font;

            @include mobile {
                font-size: 15px;
            }
        }
    }

    &__jumping-image {
        width: 100%;
        height: 712px;
        background-image: url(../../../images/legs-jump.webp);
        @extend %background-position-center;

        @include mobile {
            height: 242px;
        }
    }
}