@import "../../../sass/mixin.scss";

.pricing {
    width: 100%;
    height: 100%;

    &__header {
        @extend %grey-header;

        @include mobile {
            font-size: 25px;
            height: 114px;
            text-align: center;
        }

        &_text {
            @include mobile {
                width: 85%;
            }
        }
    }

    &__paragraph {
        width: 100%;
        height: 140px;
        padding-top: 30px;

        @include mobile {
            height: 100px;
            padding-top: 10px;
        }

        &_text {
            width: 30%;
            margin: auto;
            font-size: 18px;
            text-align: center;

            @include mobile {
                margin: 20px;
                font-size: 15px;
                width: 80%;
                text-align: start;
                line-height: 1.6;
            }

        }

    }

    &__pricing-block {
        width: 100%;
        height: 723px;

        &_wrapper {
            width: 980px;
            height: 100%;
            margin: auto;
            padding: 20px 0;
            background-color: rgba(255, 255, 255, 1);

        }

        &_content {
            width: 100%;
            height: 100%;
            display: grid;
            flex-wrap: wrap;
            grid-template-columns: repeat(auto-fit, minmax(322px, 1fr));
            grid-auto-rows: 1fr;
            margin: 0 auto;
            max-width: 1542px;
        }
    }
}

.membership-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: center;
    min-width: 292px;
    max-width: 454px;

    &__main-block {
        width: 100%;
        height: 60%;
        padding: 30px;
        text-align: center;
        color: rgba(37, 60, 87, 1);
        position: relative;
        border: 1px solid rgba(37, 60, 87, 1);
        border-bottom: none !important;



        &_top-button {
            position: absolute;
            width: 80px;
            height: 30px;
            left: 50%;
            transform: translateX(-50%);
            top: -15px;
            color: rgba(37, 60, 87, 1);
            background-color: rgba(238, 255, 66, 1);
            font-size: 14px;

        }

        &_header {
            font-size: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: bold;
            margin-bottom: 12px;
        }

        &_price-block {
            display: flex;
            height: 108px;
            margin-bottom: 20px;

        }

        &_item {
            width: 25%;
            font-size: 18px;
            font-weight: bold;
            align-items: flex-start;
            text-align: end;
        }

        &_price {
            width: 75%;
            text-align: start;
            font-size: 110px;
            font-weight: bold;
            margin-top: -15px;
        }

        &_first-text {
            display: block;
            height: 17px;
            font-size: 12px;
            font-weight: bold;
            margin-bottom: 12px;

        }

        &_text {
            display: block;
            font-size: 14px;
            margin-bottom: 28px;
        }

        &_small-text {
            display: block;
            font-size: 12px;
            height: 16px;
        }

        &_button {
            position: absolute;
            bottom: 30px;
            left: 30px;
            width: 235px;
            height: 48px;
            display: inline-block;
            text-align: center;
            cursor: pointer;
            font-size: 18px;
            color: rgba(37, 60, 87, 1);
            background-color: rgba(161, 199, 204, 1);
            border-width: 0px;
            border-radius: 0px;

            &:hover {
                opacity: 0.6;
            }
        }
    }

    &__benefit-block {
        width: 100%;
        height: 40%;
        border: 1px solid rgba(37, 60, 87, 1);
        border-top: none !important;
        padding: 30px;

        &_content {
            display: block;
            text-align: center;
            font-size: 18px;
            padding: 9px;
        }
    }
}

.main-block_best,
.benefit-block_best {
    background-color: rgba(190, 225, 230, 1);
}